table, tr, td {
  border: 2px solid black;
}
table{
  background-color: #575655;
}
td:nth-of-type(even){
  background-color: #ededed;
}
td:nth-of-type(odd){
  background-color: #bfbfbf;
}
th{
  font-color: #ededed;
}
