.navbar {
    list-style-type: none;
    background-color: #303030;
    margin-bottom: 0px;
    }
.navbar li{
  display: inline-block;
  }
.navbar a{
  display: block;
  color: #ededed;
  font-size: 125%;
  text-align: center;
  padding: 10px 4px;
  background-color: #303030;
}
.navbar a:hover{
  background-color: #505050; 
  color: white;
}
section.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
section.media-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
